<%= form_with(model: @course) do |f| %>
    <div class="field">
      <%= f.label("name") %>
      <%= f.text_field(:name) %>
    </div>

    <div class="field">
      <%= f.label("comment") %>
      <%= f.text_area(:comment) %>
    </div>
  
    <div class="submit">
      <%= f.submit("Submit")%>
    </div>
<% end %>